/* reset */
* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  border: 4px solid red;
  height: 400px;
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
  background-image: url(../image/addidas2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header h1:hover {
  color: red;
  text-decoration: underline;
  letter-spacing: 10px;
}

.nav {
  border: 4px solid black;
  /* height: 150px; */
  padding: 10px;
  overflow: auto;
}


.logo {
  border: 2px dashed red;
  /* height: 50px; */
  width: 50%;
  padding: 10px;
  float: left;

}

.menu {
  border: 2px dashed blue;
  /* height: 50px; */
  width: 50%;
  padding: 10px 20px;
  float: left;
}

.menu li {
  border: 1px solid red;
  padding: 10px;
  display: inline;
  margin-left: 10px;
}

.menu li:hover {
  background-color: green;
}

.section {
  border: 4px solid green;
  /* height: 500px; */
  overflow: auto;
}

.section1 {
  border: 2px dashed black;
  /* height: 200px; */
  float: left;
  width: 33.33%;
}

.section2 {
  border: 2px dashed black;
  /* height: 200px; */
  float: left;
  width: 33.33%;
}

/* positino property
    static = default positioning and dont support movement of the element.

    relative(parent) =move element from its original possitoin and order of the element

    fixed(parent) = move element from applied movement and the element will not exist from its original order

    absolute = best used as child element and the movement and according to the parent element

    movement properties
        left = movement left
        top =  movement top
        right = movement right
        bottom = movement bottom

    z-index = control the stack of the element or layering

*/
.static {
  border: 4px solid yellow;
  width: 100px;
  height: 100px;
  left: 50px;
}

.relative {
  border: 4px solid red;
  width: 100px;
  height: 100px;
  position: relative;
  left: 100px;
  top: 50px;
  background-color: red;
  z-index: 10;
}

.fixed {
  border: 4px solid black;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 20px;
  bottom: 30px;
}

.absolute {
  border: 4px solid blue;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 20px;
  top: 30px;
}

.relative2 {
  border: 4px solid green;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: green;
  z-index: 11;
}

.section3 {
  border: 2px dashed black;
  height: 200px;
  float: left;
  width: 33.33%;
}

.section3 input:focus {
  background-color: royalblue;
}

.sidebar {
  border: 4px solid blue;
  /* height: 250px; */
  overflow: auto;
}

.ads {
  border: 2px dashed red;
  float: left;
  width: 70%;
}

.ads th:hover {
  color: white;
  background-color: red;
}

.ads2 {
  border: 2px dashed black;
  float: left;
  width: 30%;
}

.ads table {
  border: 1px solid red;
  width: 80%;
  border-collapse: separate;
  background-color: chocolate;
  margin-left: auto;
  margin-right: auto;
}

.empty {
  empty-cells: hide;
}

.ads th {
  border: 1px solid blue;
}

.ads td {
  border: 1px solid black;
}

.footer {
  border: 4px solid red;
  /* height: 75px; */
  padding: 20px;
  overflow: auto;
}

.footer h5 {
  border: 2px dashed black;
  float: left;
  width: 50%;
}

.footer .sns {
  border: 2px dashed black;
  float: left;
  width: 50%;
  text-align: right;
}

.footer a {
  border: 1px solid red;
  margin: 5px;
  display: none;
  /* width: 80px; */
}

/* float tells element to float left or righht display on the same line, also create column 
    float:
    left 
    right 
    none
    clear =
    left 
    right 
    none
*/