/* 
  html = describes the structure of the webpage
  ---elemnt, tags and attribute.

  css = describes the presentation of the webpage.
--- properties and    values

syntax;
    selector{
        property:value;--declaration 1
        property:value;--declaration 2
    }

    selector:
      element
      attributes

      3 types of css
        1. inline css = style attributes top priority of instruction
        2. internal css = style tags second priority
        3. external css = file(.css) and link tags third priority

*/
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

/* reset */
* {}

body {
  font-family: 'Langar', cursive;
  ;
}

h4,
h5,
h6,
a {
  background-color: aqua;
  text-align: right;
}

h1 {
  background-color: grey;
  /* text-align: center; */
  letter-spacing: 30px;
  border: 4px solid red;
  border-right: 6px dotted green;
  border-bottom: 10px double magenta;
  border-left: 5px dashed black;
  border-top: none;
  padding: 20px;
  padding-left: 25%;
}

.kei {
  border: 5px solid black;
  margin: 40px 10%;
  margin-bottom: 40px;
  padding: 30px;
  padding-left: 15%;
}

.kei p {
  line-height: 2;
  word-spacing: 20px;
  font-size: 25px;
}

.kei h1,
.kei h2 {
  color: white;
}

.box2 {
  margin-left: 10%;
  margin-right: 10%;
}

#joe th {
  background-color: brown;
}

.okabo {
  font-size: 40px;
  text-align: center;

}

.okabo ol {
  text-align: left;
}

#bent {
  color: yellow;
}

.category {
  line-height: 20px;
}

.category ol {
  list-style: upper-alpha;
  list-style-position: inside;
}

.category li {
  border: 2px solid white;
  padding: 10px;
  margin: 10px 0;
}

.category .aisa {
  list-style: upper-roman;
}

form div {
  margin: 10px 0;
}

form input {
  padding: 10px;
}

/* typography css or text propeties*/
/* css box model 
border
margin = the outside space of the element and the space between element
padding = the inside space of the element, and the space between border and content

*/